* {
	font-family: calibri, Arial, Verdana;
	font-size:12px;
	margin:0px;
	padding:5px;
}

/*   CABECERA DEL MENU   */
header{
	padding:10px;
	width:800px;
	border:solid 1px #000;
	margin:0px auto;
	text-align: center;
	background:#5C5C5C;
	color:#FFF;
}
header ul {
	list-style: none;
}
header li {
	display: inline;
}
header a:link, header a:hover, header a:visited {
	color: #FFF;
	text-decoration: none;
	padding: 1em;
	font-size: large;
}

/*   CONTENIDO DE LA PAGINA   */
.contenido{
	padding:10px;
	width:800px;
	border:solid 1px #000;
	margin:0px auto;
	background:#ccc;
}

/*   TABLA DE CONTACTOS   */
table.contactos{
	border-collapse: collapse;
}
table.contactos td, table.contactos tr td{
	padding:4px;
	
}
table.contactos tr{
	margin-top:5px;
}
table.contactos th{
	font-weight:bold;
	text-align:center;
}

